@media (max-width: 768px) {
    .col {
           margin: 60px;
           
    }

}

body {
    margin: 0;
    padding: 0px;
    background-color: #882121;
    color: antiquewhite;
    min-height: 100vh; 
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

h1 {
    font-family: 'Anton', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

button.btn.btn-secondary.dropdown-toggle {
    background-color: black;
    border: 2px solid rgb(100, 20, 0);
    font-size: x-large;
}

.row.row-cols-1.row-cols-md-4.g-4 {
    padding-top: 80px;
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
    
}

.col {
    max-height: 400px;
    padding: 10px;
 
  }

  

img {
    width: 250px;
    height: 250px;
    /* Altura deseada para todas las imágenes */
    object-fit: cover;
    /* Escalar la imagen para llenar el contenedor sin distorsión */
}

.card:hover {
    transform: scale(1.1);
}

.lugares {
   margin: 20px;
   padding-top: 60px;
}

.texto {
    padding: 20px;
}

.tips {
    margin-top: 40px;
    padding: 65px 20px ;
}

label {
    margin-bottom: 10px;
}

.conversor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    text-align: center;
    margin-bottom: 20px;
}